/**
 * Marcin - 18/09/2014
 */


body {
    font-family: Helvetica, Arial, sans-serif;
}

.counter {
    font-size: 28pt;
    padding: 10px;
}

.counter:hover {
    cursor: pointer;
}

.local {
    color: red;
}

.global {
    color: blue;
}

.local span, .global span{
    font-size: 250%;
}
